<div id="<%= dom_id photo %>">
  <% image_url = photo.image.attached? ? url_for(photo.image) : "" %>
  <% cropped_image_url = photo.cropped_image.attached? ? url_for(photo.cropped_image) : "" %>

  <h4 class="text-muted mb-3">
    <%= photo.name %>
  </h4>

  <%= content_tag(:div, "", data: { controller: "images", images_url: image_url, images_id: photo.id }, class: 'container') do %>
    <div class="image-container">
      <%= image_tag(image_url, class: 'image', id: 'source', data: { images_target: 'source' }) %>
      <div class="mt-3">
        <%= button_to "Crop", '#', data: { action: 'click->images#click', images_target: 'cropButton' }, method: :get, class: "btn btn-sm btn-success px-5" %>
      </div>
    </div>

    <div class="image-container">
      <%= image_tag(cropped_image_url, class: "image", id: "output", data: { images_target: "output" }) %>
    </div>
  <% end %>
</div>
